.flex-row {
  display: flex;
  gap: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
  row-gap: 10px;
}

.max-width-height {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 80%;
  margin: auto;
}

.default-btn {
  border: transparent;
  padding: 0.3rem var(--spacing-06);
  border-radius: var(--border-radius-sm);
  background-color: var(--default);
  color: white;
}

.default-btn:hover {
  background-color: var(--light-default);
  transition: 0.5s all;
}

.center {
  margin: 0.5rem 0;
  text-align: center;
}

.eight-height-width {
  height: 80vh;
  width: 80vw;
}
