:root {
  /* CTA for Application */
  --purple-100: #dec9e9;
  --purple-200: #dac3e8;
  --purple-300: #d2b7e5;
  --purple-400: #c19ee0;
  --purple-500: #b185db;
  --purple-600: #a06cd5;
  --purple-700: #9163cb;
  --purple-800: #815ac0;
  --purple-900: #7251b5;
  --purple-1000: #6247aa;
}
