.page-navbar {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: sticky;
  top: 0;
  background-color: var(--light);
  padding: 0.2rem 1.5rem;
  height: 64px;
}

.brand-logo img {
  height: var(--spacing-10);
  padding-left: var(--spacing-05);
}

.page-navbar-options {
  margin-left: auto;
  margin-right: 1rem;
  padding: 0.5rem;
}

.page-navbar-options li > a:link {
  padding: 0 var(--spacing-03);
  font-size: 2rem;
  color: var(--purple-500);
  transition: 0.5s color;
}

.page-navbar-options li > a:active {
  color: var(--purple-800);
}

.page-navbar-options li > a:visited {
  color: var(--purple-500);
}

.page-navbar-options li > a:hover {
  color: var(--purple-800);
}
