.header {
  background: transparent;
  margin: 1rem;
  border-radius: var(--border-radius-md);
  padding: 0.5rem 2rem;
  transition: 0.5s all ease;
  height: 8rem;
  box-shadow: rgba(var(--shadow), 0.02) 0px 1px 3px 0px,
    rgba(var(--shadow), 0.15) 0px 0px 0px 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 2rem;
  z-index: 10;
}

.header__logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header__logo p {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--docPrimary);
}

.header__logo__image {
  height: 6rem;
}

.header__menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header__menu__items > a,
button.header__menu__items {
  font-size: 2.2rem;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s all;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-sm);
  border: none;
  cursor: pointer;
}

.header__menu__items > a:visited {
  color: whitesmoke;
}

.header__menu__items > a:hover,
button.header__menu__items:hover {
  background: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 600px) {
  .header__menu__items > a {
    font-size: 3.2rem;
  }

  .header__menu__items span {
    display: none;
  }
}
