.header {
  background: transparent;
  margin: 2rem;
  border-radius: var(--border-radius-md);
  padding: 0.5rem 2rem;
  transition: 0.5s all ease;
  height: 8rem;
  box-shadow: rgba(var(--shadow), 0.3) 0px 0.0625em 0.0625em,
    rgba(var(--shadow), 0.3) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.8;
}

.header__logo__image {
  height: 8rem;
}

.header__menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header__menu__items > a {
  font-size: 2.2rem;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s all;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-sm);
}

.header__menu__items > a:visited {
  color: whitesmoke;
}

.header__menu__items > a:hover {
  background: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 600px) {
  .header__logo__image {
    height: 6rem;
  }

  .header__menu__items > a {
    font-size: 3.2rem;
  }

  .header__menu__items span {
    display: none;
  }
}
