.sidebar {
  width: fit-content;
  margin: 2rem 1rem;
  padding: 2rem;
  border-radius: var(--border-radius-md);
  box-shadow: rgba(var(--shadow), 0.02) 0px 1px 3px 0px,
    rgba(var(--shadow), 0.15) 0px 0px 0px 1px;
  overflow-y: auto;
  height: calc(100vh - 14rem);
  transition: 0.4s ease;
  position: fixed;
  top: 10rem;
  background: var(--bgColor);
  z-index: 5;
}

.sidebar__heading {
  font-size: 2.2rem;
  color: var(--docPrimary);
  margin: 1rem 0 3rem;
  border-bottom: 1px solid var(--textSecondary);
  padding-bottom: 0.5rem;
  display: none;
}

.sidebar.active .sidebar__heading {
  display: inherit;
}

.sidebar__heading:nth-child(5) {
  margin-top: 3rem;
}

.sidebar ul li a,
.sidebar ul li a:visited {
  font-size: 2rem;
  color: var(--docSecondary);
  margin: 1rem 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  transition: 0.3s background-color ease-in;
}

.sidebar ul li a i {
  font-size: 2.2rem;
  padding: 0.8rem;
  border-radius: var(--border-radius-sm);
  background-color: rgb(232, 232, 232);
  color: rgb(98, 71, 170);
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar ul li a:hover {
  background-color: rgba(98, 71, 170, 0.2);
}

.sidebar-link-name {
  width: 0;
  overflow: hidden;
  display: inline-block;
  margin-left: 0;
  transition: 0.4s ease;
}

.sidebar.active .sidebar-link-name{
  width: fit-content;
  margin-left: 1.5rem;
  margin-right: 1rem;
}

#sidebar-trigger{
  position: fixed;
  top: 11rem;
  left: 1rem;
  z-index: 20;
  border: 0;
  font-size: 2rem;
  background-color: var(--defaultDark);
  color: var(--light);
  height: 3rem;
  width: 3rem;
  border-radius: var(--border-radius-circle);
  cursor: pointer;
}
