.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--spacing-13);
  background-color: var(--default);
  transition: all 0.5s ease;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
}

.sidebar.active {
  width: 4.8rem;
}

.sidebar.active .logo {
  display: none;
}

.logo-container {
  justify-content: space-evenly;
  align-items: center;
}

.sidebar.active .logo-container {
  justify-content: center;
}

.logo-container .logo {
  height: var(--spacing-08);
}

.logo-container #hamburger-btn {
  color: white;
  font-size: 1.1rem;
  padding: var(--spacing-04);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.logo-container #hamburger-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.sidebar .menu-list {
  margin-top: var(--spacing-05);
}

.sidebar.active .menu-list {
  margin-top: var(--spacing-07);
}

.sidebar .menu-list li {
  margin-top: var(--spacing-03);
  width: 100%;
  cursor: pointer;
}

.sidebar .menu-list .sidebar-link-heading {
  border-bottom: 1px solid white;
  height: var(--spacing-06);
  margin: var(--spacing-05) 0;
  width: 90%;
  color: rgb(152, 162, 170);
  border-radius: 5px;
}

.sidebar.active .menu-list .sidebar-link-heading {
  display: none;
}

.sidebar .menu-list li a {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  color: whitesmoke;
  transition: all 0.4s ease;
  padding: var(--spacing-03) 0;
  font-size: 0.8rem;
}

.sidebar.active .sidebar-link-name {
  display: none;
}

.sidebar .menu-list li a:hover {
  color: white;
  background-color: rgb(0, 0, 0, 0.3);
}

.sidebar .menu-list li a i {
  min-width: var(--spacing-08);
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
}

.sidebar .menu-list li .tooltip {
  position: fixed;
  font-size: 0.8rem;
  width: 80px;
  left: var(--spacing-02);
  top: 4.1rem;
  transform: translateY(-50%);
  border-radius: 5px;
  line-height: var(--spacing-06);
  padding: 0.3rem;
  text-align: center;
  background-color: var(--slate-500);
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  z-index: 990;
}

.sidebar.active .menu-list li:hover .tooltip {
  top: 4.1rem;
  opacity: 1;
  transition: all 0.5s ease;
}

.sidebar.active ~ .docs-content {
  width: calc(100% - 4.8rem);
  left: 4.8rem;
}

.sidebar::-webkit-scrollbar {
  width: 7px;
}

.sidebar::-webkit-scrollbar-track {
  background: var(--default);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--slate-500);
}
