/* Layout */
@import url(../layout/sidebar.css);
@import url(../layout/footer.css);

/* Common CSS */
@import url(../core/variable.css);
@import url(../core/utilities.css);

/* Components */
@import url(../components/index.css);



body {
  background-color: var(--white);
  transition: 0.5s all ease;
  font-size: 1.5rem;
}

.docs-content {
  position: absolute;
  min-height: 100%;
  width: calc(100% - 18rem);
  left: 18rem;
  transition: all 0.4s ease;
  overflow-x: hidden;
  padding: 0 3rem ;
}

#docs-theme-button {
  position: fixed;
  left: 90%;
  top: 2rem;
  z-index: 1000;
}

.component-section {
  padding: 0 var(--spacing-07);
  margin: var(--spacing-06) 0;
  text-align: justify;
}

.section-heading {
  color: var(--purple-800);
  padding: 2.5rem 0;
}

.section-heading:after {
  content: "";
  border-bottom: 5px solid var(--secondary);
  width: 4rem;
  display: block;
  margin-top: 5px;
  border-radius: var(--border-radius-sm);
}

.component-description {
  font-size: 1.7rem;
  line-height: 2.7rem;
  margin-bottom: 1.7rem;
  color: var(--slate-600);
}

.class-description {
  color: var(--dark);
}

.component-text {
  color: var(--dark);
  margin-bottom: 1rem;
}

.component-type {
  margin-bottom: 1rem;
  color: var(--purple-500);
}

.pallete {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-05);
}

.pallete div {
  width: 12rem;
  height: 12rem;
  padding: var(--spacing-03);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.code-frame {
  border: 2px solid var(--light);
  padding: var(--spacing-03);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  overflow-x: auto;
}

.component-display {
  padding: var(--spacing-05);
  box-shadow: var(--box-shadow-dark);
  border-radius: var(--border-radius-sm);
  margin: 3rem 0 ;
}

/* ECOMM CARD Custom Styles */
.price-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 0.5rem;
  align-items: center;
}

.price {
  font-weight: 500;
}

.real-price {
  color: var(--secondaryDark);
}

.price-off {
  color: var(--successDark);
  font-size: 0.8rem;
}

.grid-item {
  background-color: rgb(110, 139, 128);
  color: var(--light);
  text-align: center;
  padding: 0.2rem;
}

@media only screen and (max-width: 700px) {

  #docs-theme-button {
    left: 85%;
  }

  .component-display {
    margin: var(--spacing-06) auto;
  }

  .flexible-height-width {
    height: 40vh;
  }
}


