/* Layout */
@import url(../layout/sidebar.css);
@import url(../layout/footer.css);

/* Common CSS */
@import url(../core/variable.css);
@import url(../core/utilities.css);

/* Components */
@import url(../components/index.css);

.docs-content {
  position: absolute;
  min-height: 100%;
  width: calc(100% - 10rem);
  left: var(--spacing-13);
  transition: all 0.4s ease;
  overflow-x: hidden;
}

.docs-content > section {
  padding: 0 var(--spacing-07);
  margin: var(--spacing-07) 0;
  text-align: justify;
}

.docs-content > section p {
  font-size: 0.9rem;
  padding-bottom: var(--spacing-03);
  line-height: var(--spacing-06);
}

.docs-content > section .section-heading {
  color: var(--light-default);
}

.code-frame {
  border: 2px solid var(--light);
  padding: var(--spacing-03);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.pallete {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-05);
}

.pallete div {
  width: 100px;
  height: 100px;
  padding: var(--spacing-03);
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.code-highlight {
  color: var(--primary);
  background: rgb(0, 0, 0, 0.1);
  padding: 0.1rem;
  border-radius: var(--border-radius-sm);
  font-weight: 400;
}

.component-display {
  padding: var(--spacing-05);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: var(--border-radius-sm);
  margin: var(--spacing-06);
}

.divider {
  height: 0;
  border-top: 1px solid gray;
}
