@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");

/* Common */
@import url(../core/utilities.css);
@import url(../core/variable.css);

/* Spacing */
@import url(../components/componentvariables.css);

/* Reset */
@import url(../components/componentReset.css);

/* Layout */
@import url(../layout/header.css);

body {
  position: relative;
  color: rgb(96, 108, 118);
}

.landing-page {
  height: 90vh;
}

.landing-page-logo {
  height: var(--spacing-11);
}

.landing-page-brand-name {
  font-size: var(--spacing-07);
  font-weight: 200;
  color: var(--default);
}

.landing-page-content {
  font-size: 0.9rem;
  text-align: justify;
  margin: var(--spacing-07) 0;
}
