/* Common */
@import url(../core/utilities.css);
@import url(../core/variable.css);

/* Layout */
@import url(../layout/header.css);

/* Components */
@import url(../components/index.css);

body {
  position: relative;
  background-color: var(--defaultLight);
  font-size: 1.5rem;
}

.landing-page {
  height: calc(100vh - 64px);
}

.landing-page:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  opacity: 0.2;
  background-image: url(../../assets/svgs/landing_page_img.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
}

.landing-page-content {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin: var(--spacing-07) 0;
  color: var(--grey-600);
}

.text-emphasis {
  color: var(--purple-1000);
}
