/* Common */
@import url(../core/variable.css);

/* Layout */
@import url(../layout/header.css);

/* Components */
@import url(../components/index.css);

.homepage {
  background: url("../../assets/images/bg.png"), var(--bgColor);
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--textColor);
  position: relative;
  transition: 0.3s all;
}

.homepage__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
}

.homepage__actions {
  margin: 2rem 0;
  display: flex;
  gap: 3rem;
  align-items: center;
  position: relative;
}

.text-emphasis {
  color: var(--docPrimary);
}

@media only screen and (max-width: 600px) {
  .homepage {
    background: url("../../assets/images/mobile-bg.png"), var(--bgColor);
    background-size: 100% 100%;
  }

  .homepage__content {
    width: 90%;
  }

  .homepage__actions {
    gap: 1rem;
  }
}
