.avatar {
  border-radius: var(--border-radius-circle);
  display: inline-block;
  margin: 0 0.2rem;
  position: relative;
}

/* IMAGE AVATAR */

.avatar-img {
  border-radius: var(--border-radius-circle);
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* LETTER AVATAR & ICON AVATAR */

.avatar.avatar-letter > *,
.avatar.avatar-icon > * {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: var(--spacing-07);
  text-align: center;
}

.avatar.avatar-icon > i {
  font-size: var(--spacing-06);
  color: (--light);
}

.avatar.avatar-icon > img {
  font-size: var(--spacing-06);
  height: var(--spacing-06);
}

/* SIZES */
.avatar-sm {
  height: var(--spacing-09); /* 3rem */
  width: var(--spacing-09);
}

.avatar-md {
  height: var(--spacing-10); /* 4rem */
  width: var(--spacing-10);
}

.avatar-lg {
  height: var(--spacing-11); /* 5rem */
  width: var(--spacing-11);
}

/* SQUARE */

.avatar.square {
  border-radius: var(--border-radius-md);
}

.avatar.square > .avatar-img {
  border-radius: var(--border-radius-md);
}
