.btn,
a.btn {
  border: transparent;
  padding: 0.4rem var(--spacing-06);
  border-radius: var(--border-radius-sm);
  transition: all 0.4s ease;
  font-size: 0.9rem;
  margin: 0 var(--spacing-02);
  cursor: pointer;
}

.btn:disabled,
.btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  box-shadow: none;
}

/* CONTAIN VARIANTS HOVER STATES */

.btn.btn-contained:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.btn.btn-contained.primaryLight:hover,
.btn-icon.primaryLight:hover {
  background-color: var(--blue-300);
}

.btn.btn-contained.primary:hover,
.btn-icon.primary:hover {
  background-color: var(--blue-600);
}

.btn.btn-contained.primaryDark:hover,
.btn-icon.primaryDark:hover {
  background-color: var(--blue-900);
}

.btn.btn-contained.dangerLight:hover,
.btn-icon.dangerLight:hover {
  background-color: var(--red-300);
}

.btn.btn-contained.danger:hover,
.btn-icon.danger:hover {
  background-color: var(--red-600);
}

.btn.btn-contained.dangerDark:hover,
.btn-icon.dangerDark:hover {
  background-color: var(--red-900);
}

.btn.btn-contained.warningLight:hover,
.btn-icon.warningLight:hover {
  background-color: var(--amber-300);
}

.btn.btn-contained.warning:hover,
.btn-icon.warning:hover {
  background-color: var(--amber-500);
}

.btn.btn-contained.warningDark:hover,
.btn-icon.warningDark:hover {
  background-color: var(--amber-900);
}

.btn.btn-contained.successLight:hover,
.btn-icon.successLight:hover {
  background-color: var(--green-300);
}

.btn.btn-contained.success:hover,
.btn-icon.success:hover {
  background-color: var(--green-600);
}

.btn.btn-contained.successDark:hover,
.btn-icon.successDark:hover {
  background-color: var(--green-900);
}

.btn.btn-contained.infoLight:hover,
.btn-icon.infoLight:hover {
  background-color: var(--cyan-300);
}

.btn.btn-contained.info:hover,
.btn-icon.info:hover {
  background-color: var(--cyan-500);
}

.btn.btn-contained.infoDark:hover,
.btn-icon.infoDark:hover {
  background-color: var(--cyan-900);
}

.btn.btn-contained.secondaryLight:hover,
.btn-icon.secondaryLight:hover {
  background-color: var(--grey-300);
}

.btn.btn-contained.secondary:hover,
.btn-icon.secondary:hover {
  background-color: var(--grey-500);
}

.btn.btn-contained.secondaryDark:hover,
.btn-icon.secondaryDark:hover {
  background-color: var(--grey-900);
}

.btn.btn-contained.defaultLight:hover,
.btn-icon.defaultLight:hover {
  background-color: var(--purple-300);
}

.btn.btn-contained.default:hover,
.btn-icon.default:hover {
  background-color: var(--purple-600);
}

.btn.btn-contained.defaultDark:hover,
.btn-icon.defaultDark:hover {
  background-color: var(--purple-1000);
}

/* OUTLINE VARIANTS */

.btn.btn-success-outline {
  border: 1.5px solid var(--successDark);
  color: var(--success);
  background-color: var(--light);
}

.btn.btn-warning-outline {
  border: 1.5px solid var(--warningDark);
  color: var(--warning);
  background-color: var(--light);
}

.btn.btn-info-outline {
  border: 1.5px solid var(--infoDark);
  color: var(--info);
  background-color: var(--light);
}

.btn.btn-error-outline {
  border: 1.5px solid var(--dangerDark);
  color: var(--danger);
  background-color: var(--light);
}

.btn.btn-default-outline {
  border: 1.5px solid var(--defaultDark);
  color: var(--default);
  background-color: var(--light);
}

.btn.btn-success-outline:hover {
  background: var(--success);
  color: var(--light);
}

.btn.btn-warning-outline:hover {
  background: var(--warning);
  color: var(--light);
}

.btn.btn-info-outline:hover {
  background: var(--info);
  color: var(--light);
}

.btn.btn-error-outline:hover {
  background: var(--danger);
  color: var(--light);
}

.btn.btn-default-outline:hover {
  background: var(--default);
  color: var(--light);
}

/* TEXT */

.btn-link {
  padding: 0.3rem var(--spacing-05);
  border-radius: 3px;
  border-bottom: 2px solid white;
  transition: all 0.4s ease-in-out;
}

.btn-link:hover {
  border-bottom: 2px solid var(--secondary);
}

/* ICON  & FLOAT*/

.btn-icon,
.btn-float {
  display: inline-block;
  width: var(--spacing-08);
  height: var(--spacing-08);
  border-radius: var(--border-radius-circle);
  border: transparent;
  font-size: 1.1rem;
  margin: 0 0.2rem;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
}

.btn-float {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: transform 0.25s;
}

.btn-float:hover {
  transform: translateY(-0.25em);
}

.btn-icon:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

/* BLOCK */
.btn.block-btn {
  width: 100%;
}

/* SIZES */

.btn.btn-sm {
  padding: 0.3rem 0.5rem;
  font-weight: 400;
  font-size: 0.8rem;
}

.btn.btn-md {
  font-size: 1.2rem;
  font-weight: 500;
}

.btn.btn-lg {
  font-size: 1.6rem;
  font-weight: 600;
}

/* Sizes - FLOAT & ICON (small & large)*/

.btn-float.btn-sm,
.btn-icon.btn-sm {
  height: var(--spacing-07);
  width: var(--spacing-07);
  font-size: 0.9rem;
}

.btn-float.btn-lg,
.btn-icon.btn-lg {
  height: var(--spacing-09);
  width: var(--spacing-09);
}
