/* Default Colors */

.primary {
  background-color: var(--primary);
  color: var(--light);
}

.success {
  background-color: var(--success);
  color: var(--light);
}

.warning {
  background-color: var(--warning);
  color: var(--light);
}

.info {
  background-color: var(--info);
  color: var(--light);
}

.dark {
  background-color: black;
  color: var(--light);
}

.default {
  background-color: var(--default);
  color: var(--light);
}

.secondary {
  background-color: var(--secondary);
  color: var(--light);
}

.danger {
  background-color: var(--danger);
  color: var(--light);
}

/* Light Version */

.primaryLight {
  background-color: var(--primaryLight);
  color: var(--blue-900);
}

.successLight {
  background-color: var(--successLight);
  color: var(--green-900);
}

.warningLight {
  background-color: var(--warningLight);
  color: var(--amber-900);
}

.infoLight {
  background-color: var(--infoLight);
  color: var(--cyan-900);
}

.defaultLight {
  background-color: var(--defaultLight);
  color: var(--pruple-1000);
}

.secondaryLight {
  background-color: var(--secondaryLight);
  color: var(--grey-900);
}

.dangerLight {
  background-color: var(--dangerLight);
  color: var(--red-900);
}

/* Dark Versions */

.primaryDark {
  background-color: var(--primaryDark);
  color: var(--light);
}

.successDark {
  background-color: var(--successDark);
  color: var(--light);
}

.warningDark {
  background-color: var(--warningDark);
  color: var(--light);
}

.infoDark {
  background-color: var(--infoDark);
  color: var(--light);
}

.defaultDark {
  background-color: var(--defaultDark);
  color: var(--light);
}

.secondaryDark {
  background-color: var(--secondaryDark);
  color: var(--light);
}

.dangerDark {
  background-color: var(--dangerDark);
  color: var(--light);
}
