/* input */
input,
select,
textarea,
label {
  font-family: Roboto;
}

.input-group,
.search-box {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
}

.input-group__label {
  padding: 1rem 0 0.5rem 1rem;
  margin: 0;
  font-size: 1.5rem;
  color: #9a9a9a;
  font-family: Roboto;
  text-align: left;
  width: fit-content;
  display: inline-block;
}

.input-group__input,
.search-box__bar {
  padding: 1rem;
  font-size: 1.5rem;
  width: 100%;
  transition: 0.4s all ease;
  border: 0;
  border-bottom: 1px solid grey;
  text-align: justify;
  line-height: 2rem;
  background: transparent;
}

.input-group__input option {
  color: rgb(154, 154, 154);
}

.input-group__input:focus,
.search-box__bar:focus {
  outline: 0;
}

.input-group__input ~ .input-group__focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3.5px;
  background-color: var(--defaultDark);
  transition: 0.4s;
}

.input-group__input:focus ~ .input-group__focus-border {
  width: 100%;
  transition: 0.4s;
}

/* DISABLED */
.input-group.disabled {
  background: rgb(154, 154, 154, 0.15);
  pointer-events: none;
  border-top-left-radius: var(--border-radius-sm);
  border-top-right-radius: var(--border-radius-sm);
}

/* REQUIRED */
.input-group.required .input-group__label::after {
  content: "*";
  margin-left: 5px;
  color: var(--danger);
}

/* SEARCH_BOX */

.search-box__bar {
  border-bottom: 0;
}

.search-icon {
  font-size: 1.8rem;
  color: var(--defaultDark);
}

.search-box {
  display: flex;
  gap: 5px;
  align-items: center;
  border-bottom: 1px solid grey;
}

.search-box__bar ~ .search-box__focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--defaultDark);
  transition: 0.4s;
}

.search-box__bar:focus ~ .search-box__focus-border {
  width: 100%;
  transition: 0.4s;
}

/* SLIDER */

.slider {
  accent-color: var(--defaultDark);
}

/* CHECKBOX, RADIO */

.input-group--check {
  accent-color: var(--defaultDark);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  color: #9a9a9a;
}

.input-group--check input{
  height: 1.8rem;
  width: 1.8rem;
}