.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
 
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--bgColor);
    border-radius: 1rem;
}
 
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--defaultDark);
    border-radius: 1rem;
}