.snackbar {
  background-color: #1b2432;
  color: var(--light);
  padding: 1rem;
  border-radius: var(--border-radius-sm);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.snackbar-show {
  visibility: visible;
  opacity: 1;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.snackbar .snackbar-text {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.snackbar-close-button {
  border: transparent;
  background: transparent;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  transition: 0.3s;
  border-radius: var(--border-radius-sm);
  color: var(--light);
  margin-left: 1rem;
}

.snackbar-close-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.snackbar-close-button i {
  font-size: 2.5rem;
}

@keyframes fadein {
  from {
    bottom: -2rem;
    opacity: 0;
  }
  to {
    bottom: 2rem;
    opacity: 1;
  }
}


@keyframes fadeout {
  from {
    bottom: 2rem;
    opacity: 1;
  }
  to {
    bottom: -2rem;
    opacity: 0;
  }
}
