/* Common Styles */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: var(--spacing-05) 0;
}

p {
  font-size: 1.5rem;
  line-height: 3.5rem;
}

/* Headings */

.h1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem;
}

.h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5.6rem;
}

.h3 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.4rem;
}

.h4 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
}

.h5 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
}

.h6 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2.4rem;
}

/* Aligned Texts */

.center-aligned,
.left-aligned,
.right-aligned {
  display: block;
}

.center-aligned {
  text-align: center;
}

.left-aligned {
  text-align: left;
}

.right-aligned {
  text-align: right;
}

/* Colored Classes */

.primary-text {
  color: var(--primary);
}

.warning-text {
  color: var(--warning);
}

.danger-text {
  color: var(--danger);
}

.secondary-text {
  color: var(--secondary);
}

.success-text {
  color: var(--success);
}

.default-text {
  color: var(--default);
}

.info-text {
  color: var(--info);
}

/* Different Sizes */

.para-sm {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.para-md {
  font-size: 2rem;
  line-height: 3rem;
}

.para-lg {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

/* Special Classes */

.text-strike {
  text-decoration: line-through;
}

.code-highlight {
  color: var(--textColor);
  background: rgb(var(--shadow), 0.2);
  border-radius: var(--border-radius-sm);
  font-weight: 400;
  padding: 0.5rem;
}

.divider {
  height: 0;
  border-top: 1px solid var(--secondary);
  margin: 1rem 0;
}
